.course-form-wrapper,
.batch-form-wrapper {
  width: 50%;
  margin: 0 auto;
}
.course-form-wrapper .form-header,
.batch-form-wrapper .form-header {
  height: 80px;
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 50px;
}
.course-form-wrapper form,
.batch-form-wrapper form {
  margin: 0 auto;
}
.course-form-wrapper form .form-item,
.batch-form-wrapper form .form-item {
  background-color: #f3f3f3;
  margin: 20px 0;
  border-radius: 50px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px#00000056;
  transition: 0.3s ease-in-out;
}

.course-form-wrapper .form-item:hover,
.batch-form-wrapper .form-item:hover {
  transform: scale(1.01);
}
.course-form-wrapper form .form-item input,
.course-form-wrapper form .form-item select,
.batch-form-wrapper form .form-item input,
.batch-form-wrapper form .form-item select {
  border: none;
  width: 90%;
  outline: none;
  background: none;
  height: 35px;
  padding: 0 0 0 10px;
  font-size: 1.1rem;
}

.course-form-wrapper form #form-submit,
.batch-form-wrapper form #form-submit {
  background-color: #ff0000;
  transition: 0.3s ease-in-out;
}

.course-form-wrapper form #form-submit:hover,
.batch-form-wrapper form #form-submit:hover {
  box-shadow: 0 0 15px #ff0000;
}

.course-form-wrapper form #form-submit input,
.batch-form-wrapper form #form-submit input {
  font-size: 1.1rem;
  color: #ffffff;
  cursor: pointer;
}

/* Table */
.course-list-wrapper,
.instructor-list-wrapper,
.student-list-wrapper {
  width: 70%;
  margin: 0 auto 50px auto;
  padding: 0 20px;
  text-align: center;
}
.course-list-wrapper table,
.instructor-list-wrapper table,
.student-list-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.course-list-wrapper table th,
.instructor-list-wrapper table th,
.student-list-wrapper table th {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 0;
}
.course-list-wrapper table tr:nth-child(even),
.instructor-list-wrapper table tr:nth-child(even),
.student-list-wrapper table tr:nth-child(even) {
  background-color: #ff000054;
  color: #000000;
}
.course-list-wrapper table tr td,
.instructor-list-wrapper table tr td,
.student-list-wrapper table tr td {
  padding: 10px;
  text-align: left;
  font-size: 1.1rem;
}
/*  */
