.button-bar-wrapper {
  position: fixed;
  top: 20vh;
  right: 20px;
  z-index: 20px;
}

.button-bar-wrapper a {
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.button-bar-wrapper a:hover {
  background-color: #ff0000;
  color: #ffffff;
  box-shadow: 0 0 20px #ff0000;
}

.form-header-wrapper {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.form-main-wrapper {
  width: 70%;
  margin: 30px auto;
}
.form-main-wrapper form {
  display: flex;
  justify-content: space-around;
}

.form-main-wrapper form .form-left-section-wrapper,
.form-main-wrapper form .form-right-section-wrapper {
  width: 48%;
}

.form-main-wrapper form .form-left-section-wrapper .form-item,
.form-main-wrapper form .form-right-section-wrapper .form-item {
  width: 100%;
  background-color: #f3f3f3;
  margin: 20px 0;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px#00000056;
  transition: 0.3s ease-in;
}

.form-main-wrapper form .form-left-section-wrapper .form-item:hover {
  transform: scale(1.02);
}
.form-main-wrapper form .form-left-section-wrapper .form-item:focus {
  box-shadow: 0 0 10px #ff0000;
}

.form-main-wrapper form .form-left-section-wrapper .form-item input,
.form-main-wrapper form .form-right-section-wrapper .form-item input,
.form-main-wrapper form .form-right-section-wrapper .form-item select {
  border: none;
  outline: none;
  background: none;
  height: 35px;
  width: 90%;
  padding: 0 0 0 10px;
  font-size: 1.2rem;
}

.form-main-wrapper form .form-right-section-wrapper #form-submit {
  background-color: #ff0000;
  transition: 0.3s ease-in-out;
}
.form-main-wrapper form .form-right-section-wrapper #form-submit:hover {
  box-shadow: 0 0 15px #ff0000;
}

.form-main-wrapper form .form-right-section-wrapper #form-submit input {
  font-size: 1.1rem;
  color: #ffffff;
  cursor: pointer;
}
