.student-and-instructor-list {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.student-and-instructor-list .instructor-list,
.student-and-instructor-list .student-list {
  width: 48%;
  text-align: center;
}

.student-and-instructor-list table {
  width: 100%;
  border-collapse: collapse;
}

.student-and-instructor-list table th {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 0;
}
.student-and-instructor-list table tr:nth-child(even) {
  background-color: #ff000054;
  color: #000000;
}
.student-and-instructor-list table tr td {
  padding: 10px 0;
}
