.del-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}



.instructor-form {
    width: 1000px;
        margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
        box-shadow: 0 0 30px #00000033;
}

.form-title {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
    margin-bottom: 10px;
}

.instructor-form form {
    display: flex;
    justify-content: space-between;
}

.form-left-section-wrapper,
.form-right-section-wrapper {
    width: 45%;
}


.form-left-section-wrapper .form-item,
.form-right-section-wrapper .form-item {
    width: 100%;
    background-color: #d4d4d4;
    margin: 20px 0;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in;
}

.form-left-section-wrapper .form-item:hover,
.form-right-section-wrapper .form-item:hover {
    box-shadow: 0 0 20px#ff00003f;
}

.form-item input,
.form-item input,
.form-item select,
.form-item textarea {
    border: none;
    outline: none;
    background: none;
    height: 35px;
    width: 90%;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
}

.form-item textarea {
    height: 300px;
    padding: 10px;
}

.input-label {
    margin-bottom: -20px;
    margin-left: 15px;
    color: #ff0000;
    font-weight: bold;
}

.form-error {
    margin-top: -20px;
    margin-bottom: 10px;
    text-align: center;
    color: #ff0000;
}
.change-course-form,
.change-student-course-form,
.change-student-batch-form,
.change-fee-form,
.change-class-time-form,
.change-batch-instructor-form,
.change-completion-date-form,
.change-start-date-form,
.change-completion-status-form,
.increase-quantity-form,
.module-form,
.notice-form {
    width: 0px;
    background-color: #ffffff;
        box-shadow: 0 0 30px #00000033;
    border-radius: 10px;
    margin: 20px auto;
    position: absolute;
    top: 200px;
    right: 20px;
    z-index: 10px;
    color: #ff0000;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}


.show-menu {
    width: 500px;
    padding: 20px;
}